/*===============Propiedades Globales================*/


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-align: center;
}
/* MODAL***/

.texto{
    margin: 30px auto;
    width: 80%;
}

.texto p, h1{
    margin-bottom: 30px;
}

.texto p{
    font-size: 20px;
}

.btn-abrir{
    background: #0063a5;
    color:#fff;
    padding: 10px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

/* VENTANA MODAL */

.pop-up{
    background: rgba(48, 48, 48, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 50;
}

.pop-up-wrap{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.pop-up-title{
    flex-basis: 0;
    flex-grow:1.5;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: 165%;
    background-position: center;
    background-repeat: no-repeat;
  
}
.pop-up-title img{

  
 
}

.pop-up-title::after{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
}

.pop-up-title::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.subcription::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.pop-up-title h2,
.pop-up-title p{
    z-index: 10;
    color: #fff;
}

.pop-up-title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}


.pop-up-title p{
    font-size: 20px;
    font-weight: 300;
}

.subcription{
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.img-fredy{
    bottom: 0;
    position: absolute;
    padding: 30px;
    padding-bottom: 0px;

   
}
.sub-content{
    width: 75%;
}

.sub-content h2{
    font-weight: 500;
    font-size: 50px;
    color: #1F4068;
    margin-bottom: 15px;
}

.sub-content p{
    font-weight: 500;
    color: #1bc59b;
    margin-bottom: 30px;
    font-size: 30px;
}

.subs-email{
    width: 100%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
}

.subs-send{
    width: 100%;
    padding: 15px;
    border: none;
    background: #4a3fe4;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .25s ease background;
}

.subs-send:hover{
    background: #1bc59b;
}

.line{
    width: 100%;
    height: 20px;
    background: #1F4068;
}

#close{
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    color: #1bc59b;
    cursor: pointer;
}

.pop-up.show{
    visibility: visible;
}

.pop-up-wrap.show{
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 980px){
    .pop-up-title{
        display: none;
    }

}

@media only screen and (max-width: 320px){
    .sub-content h2{
        font-size: 30px;
    }
    }
/**FIN DE MODAL**/
/*===================MENU==========================*/

 #menu a, button{
     font-size: 16px !important; 
     font-family: 'Poppins', sans-serif;
     color: white;  
   
 }

 .menu-a{
     border-bottom: 3px rgba(0, 0, 0, 0) solid;  
     font-weight: 330;
     color: white;
 }
 .menu-a:hover{
    color: rgb(250, 192, 0); 
    border-bottom: 3px wheat solid;
    transition: all 300ms ease-in;
}

.img-nav:hover{
    transform: scale(1.1) ;
    transition: all 300ms;

}

 .titulo-promocion{
    margin-top: 22px;
   
    margin-left: 22px;
    color: rgb(199, 6, 6);
    font-weight: 800;
}
.bloque-imagen{
    width: 100px;
    height: 23px;
    margin-top: 8px;
    color: white;
}
.cabeza{
    max-width:605px;
}
.inicio-casa{
    width: 40px;
    height: 40px;
    background-image: url("../img/inicio.png");
    background-repeat: no-repeat;
    background-size: 0;
  
}
.inicio-casa img{
    width: 100%;
   height: 100%;
   margin: auto
 }
.inicio-casa img:hover{
   opacity: 0;
   transition: all 200ms ease;
  
}
.inicio-casa:hover{
    background-image: url("../img/inicio2.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    margin: auto;
    opacity: 1;
}

@media (max-width:992px){
    .inicio-casa img:hover{
        opacity: 1;
     }
     .inicio-casa img{
        width: 100%;
       height: 100%;
    
     }
     .inicio-casa{
        width: 40px;
        height: 40px;
        background-image: url("../img/inicio.png");
        background-repeat: no-repeat;
        background-size: 100%;
      opacity: 0;
    }
     .inicio-casa:hover{
        background-image: url("../img/inicio2.png");
        background-repeat: no-repeat;
        background-size: 60% 60%;
        background-position: center;
        margin: auto;
        opacity: 0;
    }
}
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION PRODUCTOS==========================*/
.h1-metro{
    font-size: 22px;
}
/*===================FIN DE SECCION PRODUCTOS==========================*/

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
   
    display:flex;
    flex-direction: column;
    justify-content: center; 
    padding-bottom: 300px; 
}




.wrapper-local {
    width:100%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}
.dos-bloques{
    display: flex;
    justify-content: center;
    text-align: center;
}
.formulario-uno{
    text-align: center;
    margin: auto;
    justify-content: center;
}

.formulario-dos img{
    width: 100px;
    margin-top: auto;
    margin-left: auto;
    margin-left: 18px;
}


/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

.boton-subir img{
    width: 50px;
    height: 50px;
    position: fixed;
}
.boton-subir{
  float: right;
  margin-right: 80px;
  transition: all 300ms ease;
}

.boton-subir-contenedor{
   width: 100px;
   height: 100px;
   margin-left: auto;
    z-index: 9;
    top: 30em;
    right: 0;
    bottom: 3em;
    left: 0;
    position: fixed;
   
}

.boton-actualizada{
    float: right;
    margin-right: 0px;
    transition: all 300ms ease;
    padding: 9px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(216, 231, 0);
    text-decoration: none;
    text-emphasis: filled double-circle #ffb703;
    text-size-adjust: none ;
  }
  .boton-fecha-actualizada{
    float: right;
    margin-right: 0px;
    transition: all 300ms ease;
     margin-right: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
    text-size-adjust: none ;
  }
  .boton-actualizada-contenedor{
     width: 160px;
     height: 80px;
     margin-left: auto;
     margin-right: 22px;
      z-index: 9;
      top: 25em;
      right: 10;
      bottom: 3em;
      left: 0;
      position: fixed;
      background-color: #bd0000;
     
  }

  /**almacen*/
  .boton-almacen{
    float: right;
    margin-right: 0px;
    transition: all 300ms ease;
    padding: 9px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: rgb(216, 231, 0);
    text-decoration: none;
    
    text-size-adjust: none ;
  }

  .boton-actualizada-almacen-contenedor{
     width: 160px;
     height: 59px;
     margin-left: auto;
     margin-right: 22px;
      z-index: 9;
      top: 30em;
      right: 10;
      bottom: 3em;
      left: 0;
      position: fixed;
      background-color: #19ad05;
     
  }
/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}




/*Post - Publicaciones*/

.container-post{
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;
}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}
.post h1{
    font-size: 32px !important; 
    font-family: 'Poppins', sans-serif;
}
.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.9;
}


/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="HTML"]:checked ~ .posts .post:not([data-category~="HTML"]),
[value="CSS"]:checked ~ .posts .post:not([data-category~="CSS"]),
[value="JS"]:checked ~ .posts .post:not([data-category~="JS"]),
[value="PHP"]:checked ~ .posts .post:not([data-category~="PHP"]),
[value="NODEJS"]:checked ~ .posts .post:not([data-category~="NODEJS"]),
[value="VUE"]:checked ~ .posts .post:not([data-category~="VUE"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="HTML"]:checked ~ .container-category [for="HTML"],
[value="CSS"]:checked ~ .container-category [for="CSS"],
[value="JS"]:checked ~ .container-category [for="JS"],
[value="PHP"]:checked ~ .container-category [for="PHP"],
[value="NODEJS"]:checked ~ .container-category [for="NODEJS"],
[value="VUE"]:checked ~ .container-category [for="VUE"]{
    background: #46a2fd;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
}



    
      .Deposito-text{
        width: 200px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .h1-cotiza{
        font-size: 20px;
        width: 80%;
        margin: auto;
      }
    







    .seccion-cotiza{
        margin-bottom: 122px;
        display: flex;
    }
    .container1-cotiza{
        width: 50%;
    }
    .btn-cotiza{
        margin-top: 22px;
        text-decoration: none;
        background-color: #0063a5;
        color: #ffffff;
        width: 220px;
        height: 70px;
        z-index: 10;
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 0);
        margin-bottom:55px;  
    }
    .h1-cotiza-ya{
        font-size: 26px;
    }
    .btn-cotiza:hover{
        background-color: #ffffff;
        color: #0063a5;
        border: 2px solid #0063a5;
 
    }





    @media screen and (max-width: 1218px){
        .h1-cotiza-ya{
            width: 200px;
            font-size: 22px;
        }
        .btn-cotiza-ya{
            width: 180px;
            height:50px;
            margin-bottom:55px;  
        }
        .btn-cotiza-ya:hover{
            background-color: #ffffff;
            color: #0063a5;
            border: 2px solid #0063a5;
     
        }
        .seccion-cotiza{
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 608px){
        .h1-cotiza{
            font-size: 15px;
            width: 100%;
          }
        
    }